@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Ubuntu&display=swap');

#root{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mainSection{
  flex-grow: 1;
}
.letraPersonalizada1{
  text-decoration: solid;
  text-shadow: 6px 6px 7px rgb(128, 128, 128);
}
.letraPersonalizada2{
  text-decoration: solid;
  text-shadow: 6px 6px 7px rgb(245, 196, 174);
}
video{
  width: 100%;
}
.mifondo{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #703c96, #e45069);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a50b0b, #c5bbbd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.mifondo2{
  background-image: url('../src/assets/fondovector.jpg')
}

.absolute{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
}

.overlay{
  color: antiquewhite;
  position: absolute;
}

.ad-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}

.ad-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
}

.bg-warning{
  font-weight: 700;
  font-size: 20px;
}

.hoverTrigger:hover{
  transform: translate(3px, 5px) scale(1.05);
  transition: 0.5s;
  border-style: ridge;
}

.cardbody{
  height: 100px;
}

ul{
  list-style: none;
}

.links{
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 945px){
  .tamanio{
    font-size: 30px;
  }
  .imagenqr{
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 800px){
  .mititulo{
    font-size: 25px;
  }
  .tamanio{
    font-size: 20px;
  }
}
@media screen and (max-width: 570px){
  .mititulo{
    font-size: 20px;
  }
  .tamanio{
      font-size: 10.5px;
  }
}